<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.crm.mapper.DeptMapper">
    <insert id="save">
        insert into dept(dept_name,p_id)
        values(#{deptName},#{pId})


    </insert>

    <select id="findAll" resultType="Dept">
            select * from dept
        </select>
</mapper>